<div class="post-container">

    <div class="post-header">
        <h3>@bethelchurch</h3>
        <h5>Just now</h5>
    </div>

    <div class="post-body">
    </div>

    <div class="post-footer">
        <div class="post-footer-icons">
            
            <a href="#"><img src="images/icons/thumbsup.png" alt=""></a>
        </div>
    </div>
</div>