<div class="navbar-container">
    <nav>
        <ul>
            <li><a href="#"><img src="images/icons/post.png" alt="50px"></a></li>
            <li><a href="#"><img src="images/icons/reel.png" alt="50px"></a></li>
            <li><a href="#"><img src="images/icons/group.png" alt="50px"></a></li>
            <li><a href="#"><img src="images/icons/inbox.png" alt="50px"></a></li>
            <li><a href="#"><img src="images/icons/profile.png" alt="50px"></a></li>
        </ul>
    </nav>
</div>