<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Main</title>
</head>
<body>
    <header>
        <section class="navbar">
            <%- include('partials/navbar') %>
        </section>

    </header>
    <main>
        <section class="content">
            <%- include('partials/content') %>
        </section>
    </main>
    <footer></footer>
</body>
</html>